# --- Secrets ---
.env
.env.*
*.key
*.pem

# Streamlit secrets
.streamlit/secrets.toml

# --- Python ---
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# --- OS / Editor ---
.DS_Store
.vscode/
Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
